<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coinsapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera2.full" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/coin_logo_image_view"
        android:label="CoinsApp"
        android:roundIcon="@mipmap/coin_logo_image_view"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity" android:label="CoinsApp" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AllCoinsActivity" android:label="All coins"/>
        <activity android:name=".ActivityAllCoins" android:label="All coins"/>
        <activity android:name=".MyLibraryActivity" android:label="My collection"/>
        <activity android:name=".ErrorActivity"  android:label="Error"/>
        <activity android:name=".CameraActivity"  android:label="Camera"/>
        <activity android:name=".CoinInfoActivity" android:label="Coin details"/>
    </application>

</manifest>